.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
}
.header_navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header_navbar-item,
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-item--strong{
    font-weight: 400;
}
.header_navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    /* width: 1px; */
    border-left: 1px solid white;
    height: 12px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
.header_navbar-item:hover,
.header_navbar-item-link:hover
{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header_navbar-item-link{
    color: var(--white-color);
    text-decoration: none;
}
.header-navbar-icon{
    font-size: 1.8rem;
    margin: 0 5px;
}
.header_navbar-item,
.header_navbar-item-link,
.header-nav-icon{
    display: inline-flex;
    align-items: center;
}
.header_navbar-item-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}